<form action="{{ path_for('user-password') }}" method="post" id="link_form">
    <div class="row">
        <div class="col-md-12">
            {[ "type": "password", "label": "{{ 'Password'|trans }}", "name": "password", "required": 1 ]}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {[ "type": "password", "label": "{{ 'Ripeti la password'|trans }}", "name": "password_rep", "required": 1 ]}
        </div>
    </div>

    <button type="button" onclick="updatePassword()" class="btn btn-primary pull-right">
        <i class="fa fa-plus"></i> {{ 'Aggiorna password'|trans }}
    </button>
    <div class="clearfix">&nbsp;</div>
</form>

<script type="text/javascript">
    var min_length = {{ min_length_password }};

    function updatePassword(){
        if($("#password").val() == "" || $("#password_rep").val() == ""){
            swal({
                title: "{{ 'Inserire una password valida'|trans }}",
                type: "error",
            });
        }

        else if( $("#password").val() != $("#password_rep").val()){
            swal({
                title: "{{ 'Le password non coincidono'|trans }}",
                type: "error",
            });
        }

        else if( $("#password").val().length < min_length ){
            swal({
                title: "{{ 'La password deve essere lunga minimo _MIN_ caratteri!'|trans({
                    '_MIN_': min_length_password,
                }) }}",
                type: "error",
            });
        }

        else {
            $("#link_form").submit();
        }
    }
</script>

<script src="'.$rootdir.'/assets/js/init.min.js"></script>
