{% if rate is defined %}
<script>
    addVersion("{{ update_name }}");
</script>

<!-- Aggiunta del messaggio riguardante la conclusione dell'aggiornamento del database -->
{% if show_sql %}
<script>
    $("#progress .info").html($("#progress .info").html() + '<p>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check"></i> {{ 'Aggiornamento del database (_FILENAME_)'|trans({'_FILENAME_': '<i>' ~ update_filename ~ '.sql</i>'})|raw }}</p>');
</script>
{% elseif show_script %}
<!-- Aggiunta del messaggio riguardante la conclusione dello script -->
<script>
    $("#progress .info").html($("#progress .info").html() + '<p>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check"></i> {{ 'Esecuzione dello script di aggiornamento (_FILENAME_)'|trans({'_FILENAME_': '<i>' ~ update_filename ~ '.php</i>'})|raw }}</p>');
</script>
{% endif %}

<!-- Aumento della percentuale di completamento totale -->
<script>
    addProgress({{ rate }});
</script>

<script>
    $("#result").load("{{ path_for('update-progress', {'installing': installing}) }}");
</script>
{% else %}
<!-- Fallimento -->
<div class="alert alert-danger">
    <i class="fa fa-times"></i> {{ "Errore durante l'esecuzione dell'aggiornamento alla versione _VERSION_"|trans({'_VERSION_': '<i>' ~ update_version ~ '</i>'})|raw }}
</div>
{% endif %}
