{% extends "layouts/guest.twig" %}

{% block title %}{{ "Requisiti"|trans }}{% endblock %}

{% block box_class %}box-info{% endblock %}
{% block box_header %}
<h3 class="box-title">{{ 'Requisiti del software OpenSTAManager'|trans }}</h3>
{% endblock %}

{% block content %}
<p>{{ 'Benvenuto in _NAME_!'|trans({'_NAME_': '<strong>' ~ 'OpenSTAManager'|trans ~ '</strong>'})|raw }}</p>
<p>{{ "Prima di procedere alla configurazione e all'installazione del software, sono necessari alcuni accorgimenti per garantire il corretto funzionamento del gestionale"|trans }}.</p>
<br>

<p>{{ 'Le estensioni e impostazioni PHP possono essere personalizzate nel file di configurazione _FILE_'|trans({'_FILE_': '<b>php.ini</b>'})|raw }}.</p>
<hr>

{% for group, elements in requirements %}
    {% set general_status = true %}
    {% for name, element in elements %}
        {% set general_status = general_status and element.status %}
    {% endfor %}

<div class="box box-{{ general_status ? 'success collapsed-box' : 'danger' }}">
    <div class="box-header with-border">
        <h3 class="box-title">{{ group }}</h3>

    {% if general_status %}
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" onclick="$(this).closest('.box').boxWidget('toggle')">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    {% endif %}

    </div>
    <div class="box-body no-padding">
        <table class="table">

        {% for name, element in elements %}
            <tr class="{{ element.status ? 'success' : 'danger' }}">
                <td style="width: 10px"><i class="fa fa-{{ element.status ? 'check' : 'times' }}"></i></td>
                <td>{{ name }}</td>
                <td>{{ element.description|raw }}</td>
            </tr>
        {% endfor %}

        </table>
    </div>
</div>
{% endfor %}

<button type="button" class="btn btn-info center-block" onclick="window.location.reload()"><i class="fa fa-refresh"></i> {{ "Ricarica"|trans }}</button>

{% endblock %}
